block{
    display: inline-block;
    margin-left: 100px;
            
    background-color: white;
    width: 350px;
    height: 350px;
    padding: 30px;
    text-align: center;
    position: absolute;
}
.banner{
    display: block;
    height: 200;
    margin: 0px;
}
#AreaLeft{
    border: 1px solid red;
}
#AreaCenter{
    border: 1px solid green; left: 480px;
}
#AreaRight{
    border: 1px solid blue; left: 960px;
}
.LeftNemo{
    position: relative; top: 130px;
}
.CenterNemo{
    position: relative; top: 130px;
}
.RightNemo{
    position: relative; top: 130px;
}